body{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-left{
    flex: 1;
    background-image: url(imgs/zoltan-tasi-yanhwFwyoaU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-right{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.top-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.inner-top-content{
    margin: 10px;
}

.middle-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

form{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 40%;
    flex-wrap: wrap;
}

label{
    font-size: 25px;
}

#title2, form{
    margin-left: 40px;
}

.input{
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    height: 25px;
    width: 300px;
}


.bottom-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sign-upbox{
    display: flex;
    flex-direction: column;
}

.button{
    flex: 1;
    text-align: center;
    display: flex;
}

.login{
    flex: 3;
}

.signup{
    width: 15%;
    height: 60px;
    border-radius: 15px;
    font-size: 25px;
}

.signup, #title1{
    margin-left: 70px;
    margin-top: 20px;
}

.logo-box{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin-text{
    color: white;
    font-size: 100px;
}

#logo{
    width: 200px;
    height: 250px;
}

.cred-box{
    color: white;
    position: absolute;
    bottom: 0;
    left: 130px;
    font-size: 20px;
}