body{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-left{
    flex: 1;
    background-image: url(imgs/adam-lisan-WxqhNjzHHBY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-right{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.top-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #727070;
    color: white;
}

.inner-top-content{
    margin: 10px;
}

.middle-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

form{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 40%;
    flex-wrap: wrap;
}

label{
    font-size: 25px;
}

#title2, form{
    margin-left: 40px;
}

.input{
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    height: 25px;
    width: 300px;
}


.bottom-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #727070;
    color: white;
}

.sign-upbox{
    display: flex;
    flex-direction: column;
}

.button{
    flex: 1;
    text-align: center;
    display: flex;
}

.login{
    flex: 3;
}

.signup{
    width: 20%;
    height: 80px;
    border-radius: 10px;
}

.signup, #title1{
    margin: 20px;
}