body{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: 3px solid red;
}

.container-left{
    border: 3px solid black;
    flex: 1;
    background-image: url(imgs/johannes-hofmann-SxiWUpGLaZM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-right{
    border: 3px solid blue;
    flex: 3;
}